{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="jumbotron">
      <span class="h4">[ FAQs ]</span>
      <hr class="my-6">
      <h3>What is a Socket?</h3>
      <span>
        Sockets allow communication between two different processes on the same or different machines. To be more precise, it's a way to talk to other computers using standard Unix file descriptors.
      </span>
      <h3>What is Socket.IO?</h3>
      <span>
        Socket.IO is a JavaScript library for realtime web applications. It enables realtime, bi-directional communication between web clients and servers. It has two parts: a client-side library that runs in the browser, and a server-side library for Node.js. Both components have a nearly identical API.
      </span>
      <h3>What can SocketChat do?</h3>
      <span>
        It facilitates chatting between one or more persons.
      </span>
    </div>
  </div>
{% endblock %}